.body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



